*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #A4A4A4;
}

header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    gap: 40px;
}
.logo{
    font-size: 36px;
}

.topicos{
    display: flex;
    gap: 25px;
    margin-left: 1150px;
}

.search-container{
    margin-left: auto;
}

